debian/debian-?.?/.gitignore
debian/debian-?.?/.pc/
debian/debian-?.?/COPYRIGHT
debian/debian-?.?/GNUmakefile.in
debian/debian-?.?/HISTORY
debian/debian-?.?/INSTALL
debian/debian-?.?/Makefile
debian/debian-?.?/README
debian/debian-?.?/aclocal.m4
debian/debian-?.?/config/
debian/debian-?.?/configure
debian/debian-?.?/configure.in
debian/debian-?.?/contrib/
debian/debian-?.?/doc/
debian/debian-?.?/src/
debian/debian-?.?/debian/*.debhelper
debian/debian-?.?/debian/*.log
debian/debian-?.?/debian/*.substvars
debian/debian-?.?/debian/files
debian/debian-?.?/debian/lib-*/
debian/debian-?.?/debian/postgresql-*/
debian/debian-8.4
debian/debian-9.*
debian/common*
debian/*deb
debian/*dsc
debian/*build
debian/*changes
debian/*.tar.gz
pgsql/minor-versions.txt
pgsql/*bz2
pgsql/*md5
